<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor id="io.github.insjang.mdviewer.editor" name="Markdown Viewer"
            class="io.github.insjang.mdviewer.MarkdownEditor"
            contributorClass="io.github.insjang.mdviewer.Contributor"
            icon="icons/markdown.png"
            extensions="md,markdown,mdown,mkd" default="true"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page id="io.github.insjang.mdviewer.prefs" name="Markdown Viewer"
            category="org.eclipse.ui.preferencePages.Editors"
            class="io.github.insjang.mdviewer.MarkdownPreferencePage"/>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="io.github.insjang.mdviewer.PrefInit"/>
   </extension>
</plugin>
